<mat-toolbar fxLayout="row" color="primary">

  <div>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>LOGO</div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <ul fxLayout class="navigation-items">
      <li fxFlexAlign="center">
        <a routerLink="/signup">Signup/Login</a>
        <mat-icon>verified_user</mat-icon>
      </li>
      <li>
        <a routerLink="/menu">menu</a>
        <mat-icon>verified_user</mat-icon>
      </li>
    </ul>
  </div>

</mat-toolbar>
