<mat-toolbar fxLayout="row" color="primary">

  <div>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>LOGO</div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <ul fxLayout class="navigation-items" fxLayoutGap="10px">
      <li>
        <a fxLayoutAlign="center center" routerLink="/signup">Signup/Login<mat-icon>verified_user</mat-icon></a>
      </li>
      <li>
        <a fxLayoutAlign="center center" routerLink="/menu">menu<mat-icon>verified_user</mat-icon></a>
      </li>
    </ul>

  </div>

</mat-toolbar>
